body {
  overflow: hidden;
}

.background-images {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.background-image {
  position: absolute;
  width: 50%;
  height: 100%;
  background-size: cover;
  background-image: url("../assets/brickwall.jpeg");
  z-index: 0;
}

.background-image:nth-child(2) {
  right: 0;
}

.larateta-background {
  position: absolute;
  background-size: cover;
  height: 40%;
  width: 21%;
  bottom: 0%;
  background-image: url("../assets/larateta.png");
  z-index: 4;
}

.escaleta-background {
  position: absolute;
  background-size: cover;
  height: 60%;
  width: 20%;
  bottom: 0;
  right: 0;
  background-image: url("../assets/escaleta.png");
  z-index: 4;
}

.frame-image {
  position: absolute;
  background-size: cover;
  height: 73%;
  width: 82%;
  left: 9%;
  bottom: 13.5%;
  background-image: url("../assets/frame.png");
  box-shadow: #be602c 5px 5px 25px;
  z-index: 2;
}

.game-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: auto;
  width: 80%;
  height: 70%;
  background-color: #d7b393;
  z-index: 2;
}

.game-container-1 {
  background-image: url("../assets/titol.png");
  filter: drop-shadow(10px 10px 5px #be602c);
  background-size: cover;
  width: 50%;
  height: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
}

.game-container-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 10px;
}
